* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url('https://media.istockphoto.com/id/1454762981/es/vector/ilustración-en-acuarela-de-pintorescas-montañas-nevadas-y-árboles-aislados.jpg?s=1024x1024&w=is&k=20&c=iOZNtZXoF_h7t2b-RkUCVXJ7_uCaYo5WQ_UPgLGnQgQ=');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

header {
    color: white;
    background-color: #007bff;
    padding: 10px;
}

.container {
    display: flex;
    justify-content: space-around;
}

.columna {
    flex: 1;
    padding: 10px;
}

.btnsMenu{
    padding: 10px;
    font-weight: bold;
    color: #fff;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
.btnsMenu button {
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    cursor: pointer;
    display: flex;
    margin-top: 10px;
}

.btnsMenu button:hover {
    background-color: #0069d9;
}

.btnsMenu button:active {
    background-color: #005cbf;
}

.btnsMenu button:focus {
    outline: none;
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px #007bff;
}